input[type="text"] {
  height: 2rem;
  width: 50vw;
}

@media screen and (max-width: 425px) {
  input[type="text"] {
    height: 2.5rem;
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  input[type="text"] {
    width: 80vw;
  }
}